In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# html을 이용하여 가로방향으로 여러 DF을 인쇄
class disp(object):
    template = '<div style="float: left;padding:10px;"> <b>[{0}]</b> {1}</div>'
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args )

##### codexpert의 코드를 복사한후 작성하고 제출하시오
##### Kernel 메뉴에서 "Restart & Clear Output" 수행후 결과 확인 바람

In [15]:

import pandas as pd

d = {'class':list('ABBAB'),'gender':list('WMWMM'),'age':[50,20,40,60,30]}
df = pd.DataFrame(d, index = ['kim', 'lee', 'park', 'song', 'moon'])

print('[1]', df.loc['park']['age']  )
print('[2]', df.loc['song'].values)
print('[3]',  df['gender'].values)
print('[4]',df.iloc[1:4,2].values )
print('[5]', df.loc['park'].values)
print('[6]', df.iloc[[0,2],2].values)
print('[7]', df.iloc[1:4].values)
print('[8]', df.index.values[::2] )

[1] 40
[2] ['A' 'M' 60]
[3] ['W' 'M' 'W' 'M' 'M']
[4] [20 40 60]
[5] ['B' 'W' 40]
[6] [50 40]
[7] [['B' 'M' 20]
 ['B' 'W' 40]
 ['A' 'M' 60]]
[8] ['kim' 'park' 'moon']

In [23]:
import pandas as pd

i = ['kim','lee','park']
c = ['kor','eng','mat']
df = pd.DataFrame(0, columns=c, index=i)
df.iat[0,1]=100
df['kor']=90
df.iloc[1:,1]=80
df['mat']= df['kor']
print(df)

      kor  eng  mat
kim    90  100   90
lee    90   80   90
park   90   80   90

In [48]:
import pandas as pd

i = ['kim','lee','park']
c = ['kor','eng','mat']
arr = [[90,80,70], [80,100,50],[70,90,100]]
df = pd.DataFrame(arr, columns=c, index=i)

# 코드 작성
df.loc['song']=70
df['tot']= df['kor']+df['mat']+df['eng']
df['avg'] = df['tot']//3
print(df)

      kor  eng  mat  tot  avg
kim    90   80   70  240   80
lee    80  100   50  230   76
park   70   90  100  260   86
song   70   70   70  210   70

In [62]:
import pandas as pd
import numpy as np

l = [[81,82],[91,92]]
sr= pd.Series([90,80,70], index=['park', 'kim', 'moon'])
df1= pd.DataFrame({'eng':50, 'mat':40}, index=['lee','park'])
d = pd.DataFrame(l, index=['kim','park'],columns=['eng','mat'])
print(d)
df1.loc['kim']=d.loc['kim']
print(df1)

      eng  mat
kim    81   82
park   91   92
      eng  mat
lee    50   40
park   50   40
kim    81   82

In [80]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(1,13).reshape(4,3), columns=list('ABC'))

# 코드 작성

df=df.rename({'A':'MON', 'B':'TUE', 'C':'WED'},axis=1)
df=df.rename(lambda x: 'Day-'+str(x))
print(df.index.dtype)
print(df)

object
       MON  TUE  WED
Day-0    1    2    3
Day-1    4    5    6
Day-2    7    8    9
Day-3   10   11   12

In [86]:
import pandas as pd

d = {'year':range(21,24),'month':range(1,4),'day':range(11,14),'week':['MO','TU','WE']}
df = pd.DataFrame(d)

# 코드 작성
df1 = df.set_index('year', drop=False).set_index('month', append=True)
print(df1)

            year  day week
year month
21   1        21   11   MO
22   2        22   12   TU
23   3        23   13   WE

In [90]:
import pandas as pd

d = {'year':range(21,24),'month':range(1,4),'day':range(11,14),'week':['MO','TU','WE']}
df = pd.DataFrame(d).set_index(['year','month'], drop=True)

# 코드 작성
df1= df.reset_index('year', drop=True)

print(df1)

       day week
month
1       11   MO
2       12   TU
3       13   WE

In [118]:
import pandas as pd

date = pd.DatetimeIndex(['2020-1-1','2020-1-3','2020-1-5'])
df = pd.DataFrame(5, columns=['kim','park'], index = date)
# 코드 작성
df1=df.reindex(pd.date_range('2020-01-01','2020-01-05'),fill_value=0)
print(df1.index.dtype, df1, sep = '\n')

datetime64[ns]
            kim  park
2020-01-01    5     5
2020-01-02    0     0
2020-01-03    5     5
2020-01-04    0     0
2020-01-05    5     5

In [133]:
import pandas as pd

names = ['kim', 'lee', 'park', 'song', 'park', 'song', 'lee']
score = [100,90,80,70,100,90,60]
df = pd.DataFrame({'names':names, 'class':list('ABABACB'), 'score':score})

# 코드 작성
df1=df.sort_values(['score', 'names'], ascending=[False, True])
df1=df1.set_index(pd.RangeIndex(1, len(df.index)+1, name='rank'))
print(df1)

     names class  score
rank
1      kim     A    100
2     park     A    100
3      lee     B     90
4     song     C     90
5     park     A     80
6     song     B     70
7      lee     B     60

In [135]:
# [1]

import pandas as pd

df = pd.DataFrame(0, columns=['kor','eng','mat'], index=['kim','lee', 'park'])
udf = pd.DataFrame({'kor':[90,80], 'mat':[92,82]}, index=['park', 'kim'])

# 코드 작성
df.update(udf)
print(df)

       kor  eng   mat
kim   80.0    0  82.0
lee    0.0    0   0.0
park  90.0    0  92.0

In [139]:
# [2]

import pandas as pd

df = pd.DataFrame(0, columns=['kor','eng','mat'], index=['kim','lee', 'park'])

# 코드 작성
df.insert(0,'grade',1)
print(df)

      grade  kor  eng  mat
kim       1    0    0    0
lee       1    0    0    0
park      1    0    0    0

In [145]:
# [3]

import pandas as pd

df = pd.DataFrame(0, columns=['kor','eng','mat'], index=['kim','lee', 'park'])

df1 = df.assign(eng=70, kor=lambda x: x['eng']-10, mat=lambda x: x['eng']+10)

print(df1)

      kor  eng  mat
kim    60   70   80
lee    60   70   80
park   60   70   80

In [165]:
import pandas as pd

names = ['kim', 'lee', 'park', 'song', 'park', 'song', 'lee']
score = [100,90,80,70,100,90,60]
df = pd.DataFrame({'names':names, 'class':list('ABABACB'), 'score':score})
# 코드 작성
df1=df.drop_duplicates(subset=['names','class'], keep='last').drop('class',axis=1)
df1=df1.assign(new_score = df1.pop('score')-5)
print(df1)

  names  new_score
0   kim         95
3  song         65
4  park         95
5  song         85
6   lee         55

In [166]:
import pandas as pd
import numpy as np

data = [[40,50,10],[np.nan,20,20],[30,40,10],[40,50,15],[15, np.nan, 10]]
names = ['kim','lee','park','song','moon']
df = pd.DataFrame(data, index=names, columns=['mid','final','hw'])
df

df['sum'] = # 코드 구현

print(df)

SyntaxError: invalid syntax (<ipython-input-166-8ccdf382b2d3>, line 9)