In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# html을 이용하여 가로방향으로 여러 DF을 인쇄
class disp(object):
    template = '<div style="float: left;padding:10px;"> <b>[{0}]</b> {1}</div>'
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args )

##### codexpert의 코드를 복사한후 작성하고 제출하시오
##### Kernel 메뉴에서 "Restart & Clear Output" 수행후 결과 확인 바람

In [3]:
# [1]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    titanic = pd.DataFrame(t[1:], columns = t[0])
else :
    titanic = sns.load_dataset('titanic')
    #titanic = pd.read_csv('data/titanic.csv')

titanic.head()
# ---------------------------------------------------------------------------------

col = ['sex', 'sibsp', 'parch']
df = titanic.query('survived==1')[col]
df.head()

df1 = df.melt(id_vars='sex', var_name='partner', value_name = 'cnt')
print(df1.head(3))
print(df1.tail(3))

      sex partner  cnt
0  female   sibsp    1
1  female   sibsp    0
2  female   sibsp    1
        sex partner  cnt
681  female   parch    1
682  female   parch    0
683    male   parch    0

In [9]:
# [2]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    titanic = pd.DataFrame(t[1:], columns = t[0])
else :
    titanic = sns.load_dataset('titanic')
    #titanic = pd.read_csv('data/titanic.csv')

titanic.head()
col = ['sex', 'sibsp', 'parch']
df = titanic.query('survived==1')[col]
df.head()
df1 = df.melt(id_vars='sex', var_name='partner', value_name='cnt')
# ---------------------------------------------------------------------------------

# [2] 
IDdf = df1[['sex', 'cnt']].drop_duplicates()
IDdf = IDdf.sort_values(['cnt','sex'])
IDdf['id'] = range(1, len(IDdf)+1)
IDdf

df2 = IDdf.pivot(index='sex',columns='cnt',values='id')
print(df2)

cnt       0    1    2    3    4     5
sex
female  1.0  3.0  5.0  7.0  8.0  10.0
male    2.0  4.0  6.0  NaN  9.0   NaN

In [11]:
# [1]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 test변수를 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])
    df['sex'] = pd.Categorical(df['sex'], categories=['Male', 'Female'], ordered=True)
    df['smoker'] = pd.Categorical(df['smoker'], categories=['Yes', 'No'], ordered=True)
else :
    df = sns.load_dataset('tips')
    #df = pd.read_pickle('data/tips.pickle')

df['tip_pct'] = (df['tip']/df['total_bill']).mul(100).round()
df.head()
# --------------------------------------------------------------------------

r1 = pd.pivot_table(df,index='sex', columns='smoker', values='tip', aggfunc='count', margins=True)
print(r1)

smoker  Yes   No  All
sex
Male     60   97  157
Female   33   54   87
All      93  151  244

In [14]:
# [2] 
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 test변수를 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])
    df['day'] = pd.Categorical(df['day'], categories=['Thur', 'Fri', 'Sat', 'Sun'], ordered=True)
else :
    df = sns.load_dataset('tips')
    #df = pd.read_pickle('data/tips.pickle')

df['tip_pct'] = (df['tip']/df['total_bill']).mul(100).round()
df.head()
# --------------------------------------------------------------------------

r2 = pd.pivot_table(df, index='day',aggfunc={'tip':'count', 'tip_pct':['max', 'min']})
print(r2)

       tip tip_pct
     count     max   min
day
Thur    62    27.0   7.0
Fri     19    26.0  10.0
Sat     87    33.0   4.0
Sun     76    71.0   6.0

In [20]:
# [3] 
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 test변수를 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])
    df['day'] = pd.Categorical(df['day'], categories=['Thur', 'Fri', 'Sat', 'Sun'], ordered=True)
    df['time'] = pd.Categorical(df['time'], categories=['Lunch', 'Dinner'], ordered=True)
else :
    df = sns.load_dataset('tips')
    #df = pd.read_pickle('data/tips.pickle')

df['tip_pct'] = (df['tip']/df['total_bill']).mul(100).round()
df.head()
# --------------------------------------------------------------------------

r3 = pd.pivot_table(df, index=['day', 'time'], columns='size', values='tip', aggfunc='count', fill_value=0)
print(r3)

size         1   2   3   4  5  6
day  time
Thur Lunch   1  47   4   5  1  3
     Dinner  0   1   0   0  0  0
Fri  Lunch   1   5   1   0  0  0
     Dinner  0  11   0   1  0  0
Sat  Dinner  2  53  18  13  1  0
Sun  Dinner  0  39  15  18  3  1

In [21]:
# [1]

import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 test를 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])[['survived','pclass','sex']]
else :
    #df = sns.load_dataset('titanic')[['survived','pclass','sex']]
    df = pd.read_csv('data/titanic.csv', usecols=['survived','pclass','sex'])

df.head()
# ---------------------------------------------------------------------------------

r1 = pd.pivot_table(df, index='sex', columns='survived', values='pclass', aggfunc='count')
print(r1)

survived    0    1
sex
female     81  233
male      468  109

In [24]:
# [2]

import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])[['survived','pclass','sex']]
else :
    df = sns.load_dataset('titanic')[['survived','pclass','sex']]

df.head()
#--------------------------------------------------------------------------------

r2 = pd.pivot_table(df, index='pclass', aggfunc={'survived':'sum'})
print(r2)

        survived
pclass
1            136
2             87
3            119

In [25]:
# [3]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])[['survived','pclass','sex']]
else :
    df = sns.load_dataset('titanic')[['survived','pclass','sex']]

df.head()
#--------------------------------------------------------------------------------

r3 = pd.pivot_table(df, index='pclass', columns='sex', values='survived', aggfunc='sum', margins=True)
print(r3)

sex     female  male  All
pclass
1           91    45  136
2           70    17   87
3           72    47  119
All        233   109  342

In [27]:
# [4]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])[['survived','pclass','sex']]
else :
    df = sns.load_dataset('titanic')[['survived','pclass','sex']]

df.head()
#--------------------------------------------------------------------------------

r4 = pd.pivot_table(df, index=['sex', 'survived'], aggfunc={'pclass': 'count'})
print(r4)

                 pclass
sex    survived
female 0             81
       1            233
male   0            468
       1            109

In [28]:
# [1]

import pandas as pd 
import numpy as np

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('ABABB'),
                  'kor':[100,80,60,90,80], 'eng':[50,100,60,80,70],
                  'math':[60,50,40,100,50]})
df
r1 = df.groupby('class').get_group('A')
r1

   grade class  kor  eng  math
0      1     A  100   50    60
2      1     A   60   60    40

In [ ]:
# [2]

import pandas as pd 
import numpy as np

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('ABABB'),
                  'kor':[100,80,60,90,80], 'eng':[50,100,60,80,70],
                  'math':[60,50,40,100,50]})
df

r2 = df.groupby('class')['kor'].count()
print(r2)

In [ ]:
# [3] 

import pandas as pd 
import numpy as np

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('ABABB'),
                  'kor':[100,80,60,90,80], 'eng':[50,100,60,80,70],
                  'math':[60,50,40,100,50]})
df

r3 = df.groupby('class')[['kor', 'eng', 'math']].sum()
print(r3)

In [ ]:

# [4] 

import pandas as pd 
import numpy as np

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('ABABB'),
                  'kor':[100,80,60,90,80], 'eng':[50,100,60,80,70],
                  'math':[60,50,40,100,50]})
df

r4 = df.groupby(['grade', 'class']).max()
print(r4)

In [32]:
# [1]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 test변수를 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])
    df['sex'] = pd.Categorical(df['sex'], categories=['Male', 'Female'], ordered=True)
    df['smoker'] = pd.Categorical(df['smoker'], categories=['Yes', 'No'], ordered=True)
else :
    df = sns.load_dataset('tips')
    #df = pd.read_pickle('data/tips.pickle')

df.head()
#--------------------------------------------------------------

sr1 = df.groupby(['sex', 'smoker'])['tip'].count()
r1 = sr1.unstack()
print(r1)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [55]:
# [2]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 test변수를 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])
    df['sex'] = pd.Categorical(df['sex'], categories=['Male', 'Female'], ordered=True)
    df['day'] = pd.Categorical(df['day'], categories=['Thur', 'Fri', 'Sat', 'Sun'], ordered=True)
else :
    df = sns.load_dataset('tips')
    #df = pd.read_pickle('data/tips.pickle')

df.head()
#--------------------------------------------------------------

df2 = df.pivot_table(index='sex', columns='day', values='size', aggfunc='sum')
r2 = df.groupby(['sex', 'day'])['size'].sum().unstack()
print(r2)

day     Thur  Fri  Sat  Sun
sex
Male      73   21  156  163
Female    79   19   63   53

In [57]:
# [1]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 test변수를 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    tips = pd.DataFrame(t[1:], columns = t[0])
    tips['day'] = pd.Categorical(tips['day'], categories=['Thur', 'Fri', 'Sat', 'Sun'], ordered=True)
else :
    tips = sns.load_dataset('tips')
    #tips = pd.read_pickle('data/tips.pickle')  

df = tips.pivot_table(index='day', columns='size', values='tip', aggfunc='count', fill_value=0)
df
#-----------------------------------------------------------

li = ['work', 'work', 'week', 'week']
r1 = df.groupby(li).sum()
print(r1)

size  1   2   3   4  5  6
week  2  92  33  31  4  1
work  2  64   5   6  1  3

In [121]:
# [2]

import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    tips = pd.DataFrame(t[1:], columns = t[0])
    tips['day'] = pd.Categorical(tips['day'], categories=['Thur', 'Fri', 'Sat', 'Sun'], ordered=True)
else :
    tips = sns.load_dataset('tips')
    #tips = pd.read_pickle('data/tips.pickle')  

df = tips.pivot_table(index='day', columns='size', values='tip', aggfunc='count', fill_value=0)
df
#-----------------------------------------------------------

def func(x):
    return 'big' if x>=3 else 'small'
r2 = df.groupby(func, axis=1).sum()
print(r2)

size  1   2   3   4  5  6
day
Thur  1  48   4   5  1  3
Fri   1  16   1   1  0  0
Sat   2  53  18  13  1  0
Sun   0  39  15  18  3  1
      big  small
day
Thur   13     49
Fri     2     17
Sat    32     55
Sun    37     39

In [112]:
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])[['pclass', 'survived', 'sex', 'age']]
else :
    df = sns.load_dataset('titanic')[['pclass', 'survived', 'sex', 'age']]
    #df = pd.read_csv('data/titanic.csv',usecols=['pclass','survived','sex','age'])   
    
df.head()
#--------------------------------------------------------------------------------------------

arr = np.where(df['age']>=40, 'old', 'young')
sr1 = df.groupby(['sex', arr])['survived'].sum()
r1= sr1.unstack(level=0)
print(r1)

sex    female  male
old        42    19
young     191    90

In [143]:
# [1]

import pandas as pd 
import numpy as np

d = {'grade':[1,1,1,2,2],'class':list('AABAA'), \
     'names':['kim', 'lee','park', 'song','lew'],
     'kor':[60,100,80,90,70],'eng':[50,100,70,80,90], \
     'absent':[1, 5, 1, 2,1]}

df = pd.DataFrame(d).set_index('names')
df
# 코드 작성
r1=df[['kor','eng']].groupby(df['grade']).mean().mean(axis=1)
print(r1)

       grade class  kor  eng  absent
names
kim        1     A   60   50       1
lee        1     A  100  100       5
park       1     B   80   70       1
song       2     A   90   80       2
lew        2     A   70   90       1
grade
1    76.666667
2    82.500000
dtype: float64

In [148]:
# [2]

import pandas as pd 
import numpy as np

d = {'grade':[1,1,1,2,2],'class':list('AABAA'), \
     'names':['kim', 'lee','park', 'song','lew'],
     'kor':[60,100,80,90,70],'eng':[50,100,70,80,90], \
     'absent':[1, 5, 1, 2,1]}

df = pd.DataFrame(d).set_index('names')

# 코드 작성
r2 = df.groupby('grade')['kor'].idxmax()
print(r2)

       grade class  kor  eng  absent
names
kim        1     A   60   50       1
lee        1     A  100  100       5
park       1     B   80   70       1
song       2     A   90   80       2
lew        2     A   70   90       1
grade
1     lee
2    song
Name: kor, dtype: object

In [150]:

import pandas as pd 
import numpy as np

d = {'grade':[1,1,1,2,2],'class':list('AABAA'), \
     'names':['kim', 'lee','park', 'song','lew'],
     'kor':[60,100,80,90,70],'eng':[50,100,70,80,90], \
     'absent':[1, 5, 1, 2,1]}

df = pd.DataFrame(d).set_index('names')
df

# 코드 작성
r3= df.groupby(['grade', 'absent']).size()
print(r3)

grade  absent
1      1         2
       5         1
2      1         1
       2         1
dtype: int64

In [152]:
# [4]

import pandas as pd 
import numpy as np

d = {'grade':[1,1,1,2,2],'class':list('AABAA'), \
     'names':['kim', 'lee','park', 'song','lew'],
     'kor':[60,100,80,90,70],'eng':[50,100,70,80,90], \
     'absent':[1, 5, 1, 2,1]}

df = pd.DataFrame(d).set_index('names')
df

r4 = df.groupby('grade')['absent'].value_counts()
print(r4)

grade  absent
1      1         2
       5         1
2      1         1
       2         1
Name: absent, dtype: int64

In [156]:
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    titanic = pd.DataFrame(t[1:], columns = t[0])[['pclass', 'survived', 'sex', 'age']]
else :
    titanic = sns.load_dataset('titanic')[['pclass', 'survived', 'sex', 'age']]
    #titanic = pd.read_csv('data/titanic.csv',usecols=['pclass','survived','sex','age'])   
    
df = titanic.fillna(round(titanic['age'].mean()))
df.head()
#-----------------------------------------------------------

sum1 = df.groupby(['pclass','sex'])['survived'].sum()
sum2 = df.groupby('pclass')['survived'].sum()
r1 = (sum1 / sum2).mul(100).round().unstack()
print(r1)

sex     female  male
pclass
1         67.0  33.0
2         80.0  20.0
3         61.0  39.0

In [161]:
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    titanic = pd.DataFrame(t[1:], columns = t[0])[['pclass', 'survived', 'sex', 'age']]
else :
    titanic = sns.load_dataset('titanic')[['pclass', 'survived', 'sex', 'age']]
    #titanic = pd.read_csv('data/titanic.csv',usecols=['pclass','survived','sex','age'])   
    
df = titanic.fillna(round(titanic['age'].mean())).set_index('age')
df.head()
#-------------------------------------------------------------------------------

def func(x):
    return int(x//10*10)

r1 = df.groupby(func)['survived'].sum()
print(r1)

0      38
10     41
20     77
30    125
40     34
50     20
60      6
70      0
80      1
Name: survived, dtype: int64

In [163]:
# [1]
import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    titanic = pd.DataFrame(t[1:], columns = t[0])[['pclass','survived', 'sex', 'age']]
else :
    titanic = sns.load_dataset('titanic')[['pclass','survived', 'sex', 'age']]
    #titanic = pd.read_csv('data/titanic.csv',usecols=['pclass','survived','sex','age'])   

df = titanic.fillna(round(titanic['age'].mean()))
df.head()
#-----------------------------------------------------------

# 코드 구현
r1 = df.groupby('sex')['survived'].agg([('live','sum'),('total', 'count')])
print(r1)

        live  total
sex
female   233    314
male     109    577

In [175]:
# [2]

import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    titanic = pd.DataFrame(t[1:], columns = t[0])[['pclass','survived', 'sex', 'age']]
else :
    titanic = sns.load_dataset('titanic')[['pclass','survived', 'sex', 'age']]
    #titanic = pd.read_csv('data/titanic.csv',usecols=['pclass','survived','sex','age'])   

df = titanic.fillna(round(titanic['age'].mean()))
df.head()
#-------------------------------------------------------------------------------

# 코드 구현 df
df['age2'] = df['age'].apply(lambda x: x//10*10).apply(round)
r2 = df.groupby('age2').size()
print(r2)

age2
0      62
10    102
20    220
30    344
40     89
50     48
60     19
70      6
80      1
dtype: int64

In [178]:

# [3]

import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    titanic = pd.DataFrame(t[1:], columns = t[0])[['pclass','survived', 'sex', 'age']]
else :
    titanic = sns.load_dataset('titanic')[['pclass','survived', 'sex', 'age']]
    #titanic = pd.read_csv('data/titanic.csv',usecols=['pclass','survived','sex','age'])   

df = titanic.fillna(round(titanic['age'].mean()))
df.head()
#-------------------------------------------------------------------------------

# 코드 작성
df['age2']=df['age'].apply(lambda x: x//10*10).apply(round)
r3 = df.groupby('age2').apply(lambda x: 'high' if x['survived'].sum()>=50 else 'low')
print(r3)

     pclass  survived     sex   age  age2
0         3         0    male  22.0    20
1         1         1  female  38.0    30
2         3         1  female  26.0    20
3         1         1  female  35.0    30
4         3         0    male  35.0    30
..      ...       ...     ...   ...   ...
886       2         0    male  27.0    20
887       1         1  female  19.0    10
888       3         0  female  30.0    30
889       1         1    male  26.0    20
890       3         0    male  32.0    30

[891 rows x 5 columns]
age2
0      low
10     low
20    high
30    high
40     low
50     low
60     low
70     low
80     low
dtype: object

In [ ]:
# [1]

import pandas as pd 
import numpy as np
import seaborn as sns

# 채점시스템 제출시는 아래 변수 값을 1로 수정하여 제출하세요 #
# 0: seaborn에서 데이터 로드, 1: 채점시스템에서 로드

test = 0

if test == 1 :
    t = eval(input())
    df = pd.DataFrame(t[1:], columns = t[0])[['class', 'survived', 'age']]
    df['class'] = df['class'].astype('category')
else :
    df = sns.load_dataset('titanic')[['class', 'survived', 'age']]
    
df.dropna(inplace=True)
df.head()
# -----------------------------------------------------------------------------------

# 코드 작성

print(r1)